NEXT_PUBLIC_MONAD_MOGS_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_MONAD_NETWORK=mainnet
NEXT_PUBLIC_MONAD_RPC_URL=https://rpc.monad.xyz
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SITE_URL=https://www.monadmogs.xyz
NEXT_PUBLIC_API_BASE_URL=https://api.monadmogs.xyz
NEXT_PUBLIC_MOGS_8004_ADAPTER_ADDRESS=0x0C789bcF41C9F30462250904EF0FB01e502E18f7
NEXT_PUBLIC_TESTNET_MOGS_8004_ADAPTER_ADDRESS=0x668b0876801923f50B79CA1BFDe7a695D08f4d73
MOGS_8004_ADAPTER_DEPLOY_BLOCK=84911423
NEXT_PUBLIC_MONAD_TOOL_REGISTRY_ADDRESS=0x265BB2DBFC0A8165C9A1941Eb1372F349baD2cf1
NEXT_PUBLIC_MONAD_ERC721_OWNER_PREDICATE_ADDRESS=0xc8721c9A776958FfFfEb602DA1b708bf1D318379
NEXT_PUBLIC_MOGS_AGENT_LOOKUP_TOOL_ID=1
NEXT_PUBLIC_MOGS_PERSONA_TOOL_ID=2
NEXT_PUBLIC_MOGS_RARITY_TOOL_ID=3
NEXT_PUBLIC_MOGS_HOLDER_PORTFOLIO_TOOL_ID=4
NEXT_PUBLIC_MOGS_HOLDER_MISSION_BRIEF_TOOL_ID=5
NEXT_PUBLIC_MOGS_MARKET_RADAR_TOOL_ID=6
NEXT_PUBLIC_TOOL_CREATOR_ADDRESS=0xf818a22f404337f86a1155937fb119a5b9438fd6
TOOL_CREATOR_ADDRESS=0xf818a22f404337f86a1155937fb119a5b9438fd6
OPENSEA_API_KEY=
MOGS_ARENA_ADDRESS=0x328a9D6060Ce914e3ba707fBDa453cb8dB39f5C9
MOGS_TOKEN_ADDRESS=0x9cF1538f92341A311a922D411DE8C471DCEA7777
ARENA_ADMIN_SECRET=
ARENA_WALLET_PRIVATE_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
BLOB_READ_WRITE_TOKEN=
