NEXT_PUBLIC_MONAD_MOGS_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_MONAD_NETWORK=mainnet
NEXT_PUBLIC_MONAD_RPC_URL=https://rpc.monad.xyz
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SITE_URL=https://www.monadmogs.xyz
NEXT_PUBLIC_API_BASE_URL=https://api.monadmogs.xyz
MOGS_ARENA_ADDRESS=0x328a9D6060Ce914e3ba707fBDa453cb8dB39f5C9
MOGS_TOKEN_ADDRESS=0x9cF1538f92341A311a922D411DE8C471DCEA7777
ARENA_ADMIN_SECRET=
ARENA_WALLET_PRIVATE_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
BLOB_READ_WRITE_TOKEN=
